# src/excel_horarios
src/__pycache__
src/*.xlsx
src/.ipynb_checkpoints
src/jupyter_notebooks
src/.mypy_cache
.ipynb_checkpoints
datos/__pycache__
.pytest_cache
src/.pytest_cache
tests/__pycache__

.github/
pyproject.toml
setup.cfg
setup.py
tests/
src/modelo.lp
src/modelo.mps
src/model.sol
src/infactible.ilp
